p {
  margin-bottom: 0px;
}

.logo {
  grid-area: brand;
}
.navbar-brand {
  margin-left: 1em;
}
.navbar-list {
  grid-area: list;
}
#cartLogo {
  width: 2em;
  height: auto;
  grid-area: cart;
}

#pill {
  position: absolute;
  top: 2px;
  right: 2px;
}
.navbar {
  display: grid;
  grid-template-columns: .1fr 1fr .035fr;
  grid-template-areas: "brand list cart";
}


h2 {
    text-align: center;
    margin-top: 2rem;
}


.spam {
    text-align: center;
    font-style: bold;
     margin: 1rem 1rem;
    font-size: large;
}
.container {
    display: flex;
    justify-content: space-around;
}
.hero {
  width: 100%;
}
.hero img {
    width: 100%;
    height: 300px;
    object-fit:cover;
}

.Card {
  border: none;
}

.sale {
  height: 100px;
  text-align: center;
  margin: 100px;
  background-color: aliceblue;
}

.sale p {
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: crimson
}

.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.Card + button {
  width: 100%;
  height: 35px;
  border: none;
  outline: 0;
  color: white;
  background-color:rgb(231, 99, 99);
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.Card button:hover {
  opacity: 0.7;
}

.main-footer {
  background-color: #5ce1e6;
  color: white;
   padding: .25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 .5em;
}

.footer-nav img {
  width: 15px;
  height: 15px;
}
.footer-last p {
text-align: center;
}
